/* Main Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    background-color: #daf5ff;
    transition: box-shadow 0.3s ease-in-out;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    z-index: 1000;
    box-shadow: none;
}

.navbar.scrolled {
    box-shadow: 0 4px 8px rgb(30, 41, 59, 0.2);
}

.navbar.dark-mode.scrolled {
    box-shadow: 0 4px 8px rgb(209, 243, 255, 0.2);
}

.navbar-brand img {
    width: 150px;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-link {
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
    padding: 5px;
    letter-spacing: 0.1rem;
    position: relative;
}

.navbar-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #333;
    transform: translateX(-50%);
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar-link:hover::before {
    width: 100%;
}

.search-label {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
    padding: 0.5rem;
    height: 25px;
}

.bi-search {
    margin-left: 0.5rem;
    color: #999;
    cursor: pointer;
}

:root {
    --rotate-dark: 0deg;
    --rotate-light: 65deg;
}

.icon-btn {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-right: 1px;
    cursor: pointer;
    transition: transform 0.3s;
}

.icon-btn:active {
    transform: rotate(var(--rotate-dark));
}

.icon-btn i {
    color: #000000;
    font-size: 1.5rem;
}

.login-btn {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn {
    display: flex;
    align-items: center;
    background-color: #ff0000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn a {
    color: #fff;
    text-decoration: none;
}

.logout-btn a {
    color: #fff;
    text-decoration: none;
}

.profile-img {
    padding-left: 10px;
    padding-top: 3px;
    align-items: center;
}

.profile-img img {
    height: 40px;
    border-radius: 50%;
}

/* Dark mode styles */
.navbar.dark-mode {
    background-color: #1E293B;
    color: #fff;
}

.navbar.dark-mode .navbar-link {
    color: #fff;
}

.navbar.dark-mode .search-label {
    border-color: #555;
}

.navbar.dark-mode .bi-search {
    color: #bbb;
}

.navbar.dark-mode .search-box {
    color: #bbb;
}

.navbar.dark-mode .icon-btn {
    transition: transform 0.3s;
}

.navbar.dark-mode .icon-btn {
    transform: rotate(var(--rotate-light));
}

.navbar.dark-mode .icon-btn i {
    color: #fff;
}

.navbar.dark-mode .login-btn {
    background-color: #EC4899;
}

.navbar.dark-mode .login-btn a {
    color: #fff;
}

.navbar.dark-mode .navbar-link::before {
    background-color: #fff;
}

/* Media query for smaller screens */
@media (max-width: 768px) {

    .navbar {
        padding: 20px;
        background-color: #daf5ff;
        align-items: center;
    }

    .navbar-brand img {
        width: 150px;
    }

    .navbar-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #daf5ff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        flex-direction: column;
        transform-origin: top bottom;
    }

    .navbar-links.open {
        display: flex;
    }

    .navbar-link {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        border-bottom: 1px solid #ccc;
    }

    .dropdown-toggle {
        background: transparent;
        border: none;
    }

    .dropdown-toggle i {
        font-size: 1.5rem;
        color: #000;
    }

    .dropdown-toggle.dark-mode {
        background: #1E293B;
    }

    .dropdown-toggle.dark-mode .bi {
        color: #fff;
    }

    .dropdown-toggle.dark-mode .bi-list {
        color: #fff;
    }

    .navbar-links.open.dark-mode {
        background-color: #1E293B;
    }

    .dropdown-toggle {
        display: block;
        padding: 10px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .dropdown-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        position: relative;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        background-color: #333;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        transition: transform 0.3s ease-in-out;
    }

    .bar1 {
        transform: translateY(-8px);
    }

    .bar2 {
        transform: translateY(0);
    }

    .bar3 {
        transform: translateY(8px);
    }

    .dropdown-toggle.open .bar1 {
        transform: rotate(45deg) translate(0px, 5px);
    }

    .dropdown-toggle.open .bar2 {
        opacity: 0;
    }

    .dropdown-toggle.open .bar3 {
        transform: rotate(-45deg) translate(-5px, 0px);
    }

    .dropdown-toggle.dark-mode .bar1,
    .dropdown-toggle.dark-mode .bar2,
    .dropdown-toggle.dark-mode .bar3 {
        background-color: #fff;
    }

}

.navbar-links.open .navbar-link {
    animation: dropdown-scale 0.3s ease-in-out forwards;
}

@keyframes dropdown-scale {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    20% {
        opacity: 1;
        transform: scale(0.7);
    }

    40% {
        transform: scale(0.9);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.navbar-links.open .navbar-link:nth-child(2) {
    animation-delay: 0.1s;
}

.navbar-links.open .navbar-link:nth-child(3) {
    animation-delay: 0.2s;
}

.navbar-links.open .navbar-link:nth-child(4) {
    animation-delay: 0.3s;
}

.navbar-links.open .navbar-link:nth-child(5) {
    animation-delay: 0.4s;
}