.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: auto;
}

.forgot-password-main {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.forgot-password-content p {
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-details {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

.form-details label {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.form-details input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-details input::placeholder {
    font-size: 1rem;
    font-family: "Signika Negative", sans-serif;
}

.error-message {
    color: #ff0000;
    margin-top: 5px;
}

.forgot-pass-btn {
    margin-top: 10px;
    width: 300px;
    display: flex;
}

.forgot-pass-btn .submit-btn {
    flex: 1;
    margin: 0 5px;
    color: #fff;
    background-color: #ec4899;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.forgot-pass-btn .cancel-btn {
    flex: 1;
    margin: 0 5px;
    color: #fff;
    background-color: #ff1c1c;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.forgot-password-main.dark-mode {
    background: #1E293B;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .modal {
        padding: 0;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(3px);
    }

    .forgot-password-main {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .forgot-password-content {
        padding: 20px;
    }

    .form-details {
        margin-bottom: 15px;
    }

    .forgot-pass-btn .submit-btn, .forgot-pass-btn .cancel-btn {
        font-size: 1rem;
    }
}
