.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.profile-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.profile-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    margin-right: 2rem;
}

.profile-image img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.update-profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.update-profile a {
    text-decoration: none;
    color: #ffffff;
}

.forgot-pass {
    width: 125px;
    padding: 10px;
    border: #ccc;
    border-radius: 10px;
    background: #ff8c00;
}

.edit-details {
    width: 125px;
    padding: 10px;
    border: #ccc;
    border-radius: 10px;
    background: #008cff;
}

.delete-account {
    width: 125px;
    padding: 10px;
    border: #ccc;
    border-radius: 10px;
    background: #ff0000;
}

.user-info ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.user-info ul li {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.user-info ul li strong {
    font-weight: bold;
    margin-right: 0.5rem;
}

hr {
    margin-top: 2rem;
    border: none;
    border-top: 1px solid #ccc;
}

@media (max-width: 768px) {
    .profile-details {
        flex-direction: column;
        align-items: center;
      }
    
      .profile-image {
        margin-right: 0;
        margin-bottom: 20px;
      }
    
      .update-profile {
        flex-direction: column;
        align-items: center;
      }

      .forgot-pass, .edit-details, .delete-account{
        margin-bottom: 10px;
      }
}