.contact-content {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    min-height: 70vh;
}

.contact-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.contact-content p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    text-align: center;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Signika Negative", sans-serif;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    font-family: "Signika Negative", sans-serif;
    font-size: 1rem;
}

.form-group textarea {
    resize: vertical;
}

.submit-btn {
    display: block;
    background-color: #ec4899;
    color: #fff;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.submit-btn:hover {
    background-color: #d43f77;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dark-mode input, textarea {
    color: #fff;
}

@media (max-width: 768px) {
    .contact-content {
        max-width: 90%;
        margin: 0;
        padding: 10px;
    }

    .contact-content h2 {
        font-size: 1.8rem;
    }

    .contact-content p {
        font-size: 1rem;
    }

    .submit-btn {
        font-size: 1rem;
        padding: 8px 16px;
    }
}